:root{
    font-family: 'Rubik', sans-serif;
    --color-menu:#4a4a4a;
    --color-background:#3CDBC0;
    --color-text:#FFFFFF;

}

/*header */

.header{
    background-color: var(--color-text);
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 13px;
}   
.logo{
    width: 155px;
    padding-bottom: 10px;
}
.item {
    display: flex;
   
}
.item2{
    color: var(--color-menu);
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 10px 13px 10px;
    font-size: 16px;

}
/*  body */

.main{
    background-color: var(--color-background);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.digital-diversity{
    font-size: 30px;
    color: var(--color-text);
    font-weight: 800;
    text-transform: capitalize;
    width: 11ch;
    text-align: center;
    line-height: 38px;
}

/* media queries .Tablet and destok */

@media screen and (min-width: 768px){
    .header{
        flex-direction: row;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 20px 20px 7px 30px;
    }
    .digital-diversity{
        font-size: 40px;
        line-height: 48px;
    }

}
    



