:root{
    --font-family-rubik: 'Rubik', sans-serif;
    --color-menu:#4a4a4a;
    --color-background:#3CDBC0;
    --color-text:#FFFFFF;

}

/* #4a4a4a (Texto del menú)
#3CDBC0 (Color de fondo de la página)
#FFFFFF (Color de texto de "Creando diversidad digital") */

/* empieza header */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position:fixed;
    position: relative;
    top:0;
    width: 100vw;
}
.logo {
    padding-top: 10px;
}
nav {
    display: flex;
    flex-wrap: wrap;

}
.item {
    color: var(--color-menu);
    font-family: var(--font-family-rubik);
    display: flex;
    justify-content: space-around;
    padding-bottom: 13px;
    padding-top: 10px;
}
.item_1 {
    padding-right: 20px;


}
/* empieza body */
.main{
    background-color: var(--color-background);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}


.digital-diversity {
    color: var(--color-text);
    font-size: 30px;
    font-weight: 800;
    font-family: var(--font-family-rubik);
    width: 11ch;
    text-align: center;
}
.digital-diversity::first-line{
    word-spacing: 100vw;
}

@media screen and (min-width: 768px){
    .header{
        display: flex;
        flex-direction: column-reverse;
    }
}